@font-face {
	font-family: "Pixel";
	src: url(./assets/fonts/VCR_OSD_MONO_1.001.ttf)
}
*{
    margin: 0;
    padding: 0;
    
}
html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    height: 100vh;
    font-family: "Pixel";
    background-color: #E0E0E0;
}
header{
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center; 
    align-items: center;
}
.title{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.init-game{
    width: 120px;
    height: 70px;
    align-self: flex-start;
    background-color: #FAA40F;
    color: #FF0A0A;
    border-color: #FF0A0A;
    border-radius: 10px;
    font-family:"Pixel";
    font-size: 24px;
    outline: none;
    cursor: pointer;
}
.stop-game{
    width: 120px;
    height: 70px;

    background-color: #FAA40F;
    color: #FF0A0A;
    border-color: #FF0A0A;
    border-radius: 10px;

    font-family:"Pixel";
    font-size: 24px;
    outline: none;
    cursor: pointer;

}
.vidas{
    position: absolute;
    left: 5%;

    padding-left: 10px;
    width: 13vw;
    height: 7vh;

    border: 3px solid black;
}
.vida{
    margin: 9px 10px;
    width: 50px;
    height: auto;
}
.boom-game{
    margin-top: 5%;
    color: #FF0A0A ;
    font-size: 78px;
}
.version{
    color: #FAA40F;
    font-size: 35px;
    align-self: flex-end;

    padding: 10px;
}
main{
    width: 90vw;
    height: 70vh;
    padding: 15px;
}
.screen{
    border: 3px solid black;
    height: 100%;
    width: 100%;

}
.balloon{
    position: absolute;
    max-width: 45px;
    cursor: pointer;

    animation: slideup 0.4s ease;
    animation: floatup 2.5s linear forwards;
    
    /* top: 22vh; */
}
.none{
    display:none;
}
@keyframes borda-cintilante{
    0%{
        border: 10px solid #FF0A0A;
    }
    50%{
        border: 7px solid #FAA40F;
    }
    100%{
        border:  10px solid #FF0A0A;
    }
}
@keyframes flutuar {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@keyframes floatup{
    100% {
      top: 22vh;
    }
}
.voce-perdeu{
    position: absolute;
    top: 30vh;
    z-index: 1;
    width: 35vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #E0E0E0;
    animation: 1s ease-in-out infinite borda-cintilante;
    border: 40px solid #FF0A0A;
}
.anunciado-perca{
    color: #FF0A0A;
    font-size: 78px;
}
.texto-desmotivante{
    width: 60%;   

    color: #FAA40F;
    font-size: 30px;
}
.jogar-novamente{
    width: 150px;
    height: 85px;
    
    background-color: #FAA40F;
    color: #FF0A0A;
    border-color: #FF0A0A;
    border-radius: 10px;
    font-family:"Pixel";
    font-size: 24px;
    outline: none;
    cursor: pointer;
}
.desfoque{
    filter: blur(5px);
    transition: all 1,5s linear;
}



